@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

p,
a {
  font-family: "Lexend Deca", sans-serif;
}
h2 {
  font-family: "Big Shoulders Display", sans-serif;
}

/* * {
  margin: 0;
  padding: 0;
} */

body {
  position: relative;
}

:root {
  /* ## Colors */

  /* ### Primary */

  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* ### Neutral */

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

body {
  background-color: white;
}

/* .main_con {
  background-color: white;
  color: var(--transparent-white);
  margin: auto;
  margin: 100px;
  border: 2px solid red;
} */

.inside_con {
  margin: 150px;
  display: flex;
  color: var(--transparent-white);
}

/* ==============media query===== */
@media (max-width: 500px) {
  .inside_con {
    flex-direction: column;
    align-items: center;
  }
}

/* ================================ */
.sedans {
  padding: 30px;
  background-color: var(--Bright-orange);
  width: 250px;
}

.sedans h2 {
  font-weight: 700;
  font-size: 28px;
}

.sedans p {
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 100px;

  padding-top: 50px;
  padding-right: 50px;
}

.sedans a {
  text-decoration: none;
  border: 1px solid none;
  background-color: var(--transparent-white);
  color: var(--Bright-orange);
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 15px;
}

.sedans a:hover {
  background-color: transparent;
  color: var(--transparent-white);
  border: 2px solid var(--transparent-white);
}

@media (max-width: 500px) {
  .sedans {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

/* ==================================== */
.suvs {
  padding: 30px;
  background-color: var(--Dark-cyan);
  width: 250px;
}

.suvs h2 {
  font-weight: 700;
  font-size: 28px;
}

.suvs p {
  line-height: 26px;
  font-size: 15px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-right: 40px;
}

.suvs a {
  text-decoration: none;
  border: 1px solid none;
  background-color: var(--transparent-white);
  color: var(--Dark-cyan);
  padding: 12px 30px;
  border-radius: 20px;
  /* margin-top: 100px; */
  font-size: 15px;
}

.suvs a:hover {
  background-color: transparent;
  color: var(--transparent-white);
  border: 2px solid var(--transparent-white);
}
/* ======================================= */
.luxury {
  padding: 30px;
  background-color: var(--Very-dark-cyan);
  width: 250px;
}

.luxury h2 {
  font-weight: 700;
  font-size: 28px;
}

.luxury p {
  line-height: 26px;
  font-size: 15px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-right: 40px;
}

.luxury a {
  text-decoration: none;
  border: 1px solid none;
  background-color: var(--transparent-white);
  color: var(--Very-dark-cyan);
  padding: 12px 30px;
  border-radius: 20px;
  /* margin-top: 100px; */
  font-size: 15px;
}

.luxury a:hover {
  background-color: transparent;
  color: var(--transparent-white);
  border: 2px solid var(--transparent-white);
}

@media (max-width: 500px) {
  .luxury {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
